{%- liquid
  assign show_promos = false

  if section.blocks.size > 0
    if section.settings.show_on_home_page
      assign show_promos = true
    elsif section.settings.show_on_home_page == false and template != 'index'
      assign show_promos = true
    endif
  endif
-%}

{%- if show_promos -%}
  {%- liquid
    if section.blocks.size == 5
      assign column_width = 'one-fifth'
    elsif section.blocks.size == 4
      assign column_width = 'quarter'
    elsif section.blocks.size == 3
      assign column_width = 'third'
    elsif section.blocks.size == 2
      assign column_width = 'half'
    else
      assign column_width = 'full'
    endif
  %}
  <div id="section-id-{{ section.id }}" class="cross-page-promos">
    <div class="container">
      {% style %}
        #section-id-{{ section.id }} .flexible-layout {
          padding: {{ section.settings.padding_vertical }}px {{ section.settings.padding_horzontal }}px;
        }

        #section-id-{{ section.id }} .icon-with-caption__text > .heading-font {
          font-size: {{ section.settings.font_size }}px;
          font-weight: 700;
          line-height: 24px;
        }

        @media (max-width: 768.97px) {
          #section-id-{{ section.id }} .flexible-layout {
            padding: {{ section.settings.padding_horzontal }}px 0;
          }

          #section-id-{{ section.id }} .icon-with-caption__text > .heading-font {
            font-size: {{ section.settings.font_size_mobile }}px;
            line-height: 18px;
            font-weight: 700;
          }
        }
      {% endstyle %}
      <div class="flexible-layout {% if column_width == 'one-fifth' %}layout-all-quarters{% endif %}{% if section.settings.arrange_type == 'horizontal' %}{{ section.settings.arrange_type }}{% endif %}">
        {%- for block in section.blocks -%}
          <div
            class="column column--{{ column_width }} align-center block-id-{{ block.id }}"
            {{ block.shopify_attributes }}
          >
            {% style %}
              .block-id-{{ block.id }} img { width: {{ block.settings.icon_img_width }}px; }
              @media (max-width: 767.98px) {
                #pagefooter .block-id-{{ block.id }} img { width: 30px !important; }
              }
            {% endstyle %}
            <div class="relative">
              {% comment %}
                {% if block.settings.link_url != blank %}
                  <a class="block" href="{{ block.settings.link_url }}">
                {% endif %}
              {% endcomment %}
              {% if block.type == 'image' %}
                {% if block.settings.image == blank %}
                  <div class="placeholder-image placeholder-image--shape-landscape {% if block.settings.text != blank %}dark{% endif %}">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% else %}
                  {%- render 'image' with block.settings.image,
                    size_cols_mobile: 2,
                    size_cols_desktop: section.blocks.size,
                    loading: 'lazy'
                  -%}
                {% endif %}

                {% if block.settings.text != blank %}
                  <div class="text-overlay overlay-centre">
                    <div class="text-overlay__inner">
                      <div class="text-overlay__text">
                        <a class="h6 heading-font" href="{{ block.settings.text_link_url }}">
                          {{- block.settings.text | escape -}}
                        </a>
                        {% if block.settings.subtext != blank %}
                          <div class="second-line">{{ block.settings.subtext | escape }}</div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% elsif block.type contains 'icon' %}
                {% style %} .block-id-{{ block.id }} img { width: {{ block.settings.icon_img_width }}px; } {% endstyle %}
                <div class="icon-with-caption">
                  <div class="icon-with-caption__icon">
                    {%- if block.settings.image == blank -%}
                      {%- render 'icon', icon: block.settings.icon, size: 'medium' -%}
                    {%- else -%}
                      <div class="icon-with-caption__image-icon">
                        {%- render 'image' with block.settings.image,
                          sizes: '56px',
                          widths: '56, 68',
                          loading: 'lazy'
                        -%}
                      </div>
                    {%- endif -%}
                  </div>
                  <div class="icon-with-caption-content__wrapper">
                    <div class="icon-with-caption-content">
                      {% if block.settings.text != blank %}
                        <div class="icon-with-caption__text">
                          {%- if block.settings.text_link_url != blank -%}
                            <a href="{{ block.settings.text_link_url }}" class="heading-font h6 align-center">
                              {{- block.settings.text -}}
                            </a>
                          {%- else -%}
                            <span class="heading-font h6 align-center">{{- block.settings.text -}}</span>
                          {%- endif -%}
                        </div>
                      {% endif %}
                      {% if section.settings.view_more_btn %}
                        <div class="icon-with-caption__view-more--btn">View more</div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}

              {% if block.settings.link_url != blank %}
                </a>
              {% endif %}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% style %}
  #section-id-{{ section.id }} {
    --bg-color: {{ section.settings.cross_page_promo_bg }};
    --text-color: {{ section.settings.cross_page_promo_color }};
  }

  {%- for block in section.blocks -%}
    {%- if block.type == 'image' and block.settings.text != blank -%}
      .cross-page-promos .block-id-{{ block.id }} .text-overlay .text-overlay__text {
        color: {{ block.settings.overlay_color }};
      }
    {%- endif -%}
  {%- endfor -%}
{% endstyle %}

{% schema %}
{
  "name": "Cross-page promos",
  "max_blocks": 5,
  "settings": [
    {
      "type": "color",
      "id": "cross_page_promo_bg",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "cross_page_promo_color",
      "label": "Text and icon color",
      "default": "#454564"
    },
    {
      "type": "checkbox",
      "id": "show_on_home_page",
      "label": "Show on home page",
      "default": true
    },
    {
      "type": "select",
      "id": "arrange_type",
      "label": "Arrange Type",
      "options": [
        { "value": "horizontal", "label": "Horizontal" },
        { "value": "side-by-side", "label": "Side By Side" }
      ],
      "default": "horizontal"
    },
    {
      "type": "checkbox",
      "id": "view_more_btn",
      "label": "Show View more Button",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_vertical",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Padding Vertical",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_horzontal",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Padding Horizontal",
      "default": 12
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Text Font Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Text Font Size(Mobile)",
      "default": 16
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Caption"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Caption line 2"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Caption color",
          "default": "#ffffff"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Image link"
        },
        {
          "type": "url",
          "id": "text_link_url",
          "label": "Text link"
        },
        {
          "type": "range",
          "id": "icon_img_width",
          "label": "Icon width",
          "min": 20,
          "max": 150,
          "step": 10,
          "unit": "px",
          "default": 20
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "default": "star",
          "options": [
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "check_mark_in_circle",
              "label": "Check mark in circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Custom icon",
          "info": "Replaces icon above"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Caption"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Icon link"
        },
        {
          "type": "url",
          "id": "text_link_url",
          "label": "Text link"
        },
        {
          "type": "range",
          "id": "icon_img_width",
          "label": "Icon width",
          "min": 20,
          "max": 150,
          "step": 10,
          "unit": "px",
          "default": 20
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cross-page promos",
      "blocks": [{ "type": "icon" }, { "type": "icon" }]
    }
  ]
}
{% endschema %}
