{% style %}
  #shopify-section-{{ section.id }} .custom-padding { margin: 0; padding-top: {{ section.settings.padding_vertical_top }}px; padding-bottom: {{ section.settings.padding_vertical_bottom }}px; }
  #shopify-section-{{ section.id }} .font-bold {
    color: #FF6100;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
  }

  #shopify-section-{{ section.id }} .majortitle.h1 {
    font-size: {{ section.settings.font_size }}px;
  }
  @media (max-width: 768.97px) {
    #shopify-section-{{ section.id }} .custom-padding { margin: 0; padding-top: 24px; padding-bottom: 24px; }
    #shopify-section-{{ section.id }} .majortitle.h1 {
      font-size: {{section.settings.font_size_mobile }}px !important;
    }

    #shopify-section-{{ section.id }} .font-bold {
      font-weight: 700;
      font-size: 16px
    }
  }
{% endstyle %}
<div
  class="{% if section.settings.color_scheme != 'default' %}use-color-scheme use-color-scheme--{{ section.settings.color_scheme }} fully-padded-row--{{ section.settings.height }}{% else %}fully-spaced-row--{{ section.settings.height }}{% endif %} custom-padding"
  data-cc-animate
  style="background-color: {{ section.settings.bg_color }};"
>
  <div class="container{% unless section.settings.full_width %} container--reading-width{% endunless %}">
    <div class="align-ltr-{{ section.settings.text_alignment }} spaced-column">
      {% assign skip_block_count = 0 %}
      {% for block in section.blocks %}
        {%- liquid
          if skip_block_count > 0
            assign skip_block_count = skip_block_count | minus: 1
            continue
          endif
        -%}
        {% case block.type %}
          {% when 'heading' %}
            {% if block.settings.use_h1 %}
              <h1 class="majortitle in-content" {{ block.shopify_attributes }}>{{ block.settings.title | escape }}</h1>
            {% else %}
              <h2 class="majortitle in-content h1" {{ block.shopify_attributes }}>
                {{ block.settings.title | escape }}
              </h2>
            {% endif %}

          {% when 'subheading' %}
            <div class="subheading subheading--over lightish-spaced-row-above" {{ block.shopify_attributes }}>
              {{ block.settings.subheading | escape }}
            </div>

          {% when 'text' %}
            <div
              class="rte lightly-spaced-row {% if block.settings.enlarge_text %}large-text{% endif %}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.text }}
            </div>

          {% when 'button' %}
            <div class="lightly-spaced-row button-row" {{ block.shopify_attributes }}>
              {% if block.settings.button_icon and block.settings.button_style == 'link' %}
                {% style %}
                  #shopify-section-{{ section.id }} .lightly-spaced-row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }

                  #shopify-section-{{ section.id }} .small-feature-link { margin: 0; }
                {% endstyle %}
                <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M20.5 6.66699C16.8784 6.66699 16.425 6.68366 15.0034 6.74699C13.5834 6.81199 12.615 7.03699 11.7667 7.36699C10.8769 7.70188 10.071 8.22687 9.40502 8.90533C8.66335 9.64533 8.20669 10.3887 7.86669 11.267C7.53669 12.1153 7.31169 13.0837 7.24669 14.5037C7.18335 15.9253 7.16669 16.3787 7.16669 20.0003C7.16669 23.622 7.18335 24.0753 7.24669 25.497C7.31169 26.917 7.53669 27.8853 7.86669 28.7337C8.20669 29.6103 8.66335 30.3553 9.40502 31.0953C10.145 31.837 10.8884 32.2937 11.7667 32.6337C12.615 32.9637 13.5834 33.1887 15.0034 33.2537C16.425 33.317 16.8784 33.3337 20.5 33.3337C24.1217 33.3337 24.575 33.317 25.9967 33.2537C27.4167 33.1887 28.385 32.9637 29.2334 32.6337C30.1231 32.2987 30.929 31.7737 31.595 31.0953C32.3367 30.3553 32.7934 29.612 33.1334 28.7337C33.4634 27.8853 33.6884 26.917 33.7534 25.497C33.8167 24.0753 33.8334 23.622 33.8334 20.0003C33.8334 16.3787 33.8167 15.9253 33.7534 14.5037C33.6884 13.0837 33.4634 12.1153 33.1334 11.267C32.7984 10.3773 32.2734 9.57132 31.595 8.90533C30.9291 8.22687 30.1231 7.70188 29.2334 7.36699C28.385 7.03699 27.4167 6.81199 25.9967 6.74699C24.575 6.68366 24.1217 6.66699 20.5 6.66699ZM20.5 9.06866C24.06 9.06866 24.4834 9.08366 25.8884 9.14699C27.1884 9.20699 27.8934 9.42366 28.3634 9.60699C28.9867 9.84866 29.43 10.137 29.8967 10.6037C30.3634 11.0703 30.6517 11.5137 30.8934 12.137C31.0767 12.607 31.2934 13.312 31.3534 14.612C31.4167 16.0187 31.4317 16.4403 31.4317 20.0003C31.4317 23.5603 31.4167 23.9837 31.3534 25.3887C31.2934 26.6887 31.0767 27.3937 30.8934 27.8637C30.6517 28.487 30.3634 28.9303 29.8967 29.397C29.43 29.8637 28.9867 30.152 28.3634 30.3937C27.8934 30.577 27.1884 30.7937 25.8884 30.8537C24.4817 30.917 24.06 30.932 20.5 30.932C16.94 30.932 16.5167 30.917 15.1117 30.8537C13.8117 30.7937 13.1067 30.577 12.6367 30.3937C12.0575 30.1801 11.5336 29.8396 11.1034 29.397C10.6607 28.9668 10.3202 28.4428 10.1067 27.8637C9.92335 27.3937 9.70669 26.6887 9.64669 25.3887C9.58335 23.982 9.56835 23.5603 9.56835 20.0003C9.56835 16.4403 9.58335 16.017 9.64669 14.612C9.70669 13.312 9.92335 12.607 10.1067 12.137C10.3484 11.5137 10.6367 11.0703 11.1034 10.6037C11.57 10.137 12.0134 9.84866 12.6367 9.60699C13.1067 9.42366 13.8117 9.20699 15.1117 9.14699C16.5184 9.08366 16.94 9.06866 20.5 9.06866ZM20.5 24.4453C19.9163 24.4453 19.3383 24.3304 18.799 24.107C18.2597 23.8836 17.7697 23.5562 17.3569 23.1434C16.9442 22.7307 16.6168 22.2406 16.3934 21.7014C16.17 21.1621 16.055 20.5841 16.055 20.0003C16.055 19.4166 16.17 18.8386 16.3934 18.2993C16.6168 17.76 16.9442 17.27 17.3569 16.8572C17.7697 16.4445 18.2597 16.1171 18.799 15.8937C19.3383 15.6703 19.9163 15.5553 20.5 15.5553C21.6789 15.5553 22.8095 16.0236 23.6431 16.8572C24.4767 17.6908 24.945 18.8214 24.945 20.0003C24.945 21.1792 24.4767 22.3098 23.6431 23.1434C22.8095 23.977 21.6789 24.4453 20.5 24.4453ZM20.5 13.1537C18.6842 13.1537 16.9427 13.875 15.6587 15.159C14.3747 16.443 13.6534 18.1845 13.6534 20.0003C13.6534 21.8162 14.3747 23.5576 15.6587 24.8417C16.9427 26.1256 18.6842 26.847 20.5 26.847C22.3159 26.847 24.0573 26.1256 25.3413 24.8417C26.6253 23.5576 27.3467 21.8162 27.3467 20.0003C27.3467 18.1845 26.6253 16.443 25.3413 15.159C24.0573 13.875 22.3159 13.1537 20.5 13.1537ZM29.2167 12.8837C29.2167 13.308 29.0481 13.715 28.7481 14.015C28.448 14.3151 28.041 14.4837 27.6167 14.4837C27.1923 14.4837 26.7854 14.3151 26.4853 14.015C26.1853 13.715 26.0167 13.308 26.0167 12.8837C26.0167 12.4593 26.1853 12.0523 26.4853 11.7523C26.7854 11.4522 27.1923 11.2837 27.6167 11.2837C28.041 11.2837 28.448 11.4522 28.7481 11.7523C29.0481 12.0523 29.2167 12.4593 29.2167 12.8837Z" fill="#FF6100"/>
                </svg>
              {% endif %}
              <a
                class="{% if block.settings.button_style != 'link' %}btn btn--{{ block.settings.button_style }}{% else %}small-feature-link{% endif %} {% if block.settings.font_bold %}font-bold{% endif %} button-row__btn"
                href="{{ block.settings.button_link }}"
              >
                {{- block.settings.button_label | escape -}}
              </a>
              {%- assign skip_block_count = 0 -%}
              {%- for next_block in section.blocks offset: forloop.index -%}
                {%- if next_block.type == 'button' -%}
                  {%- assign skip_block_count = skip_block_count | plus: 1 -%}
                  <a
                    class="{% if next_block.settings.button_style != 'link' %}btn btn--{{ next_block.settings.button_style }}{% else %}small-feature-link{% endif %} {% if block.settings.font_bold %}font-bold{% endif %} button-row__btn"
                    href="{{ next_block.settings.button_link }}"
                    {{ block.shopify_attributes }}
                  >
                    {{- next_block.settings.button_label | escape -}}
                  </a>
                {%- else -%}
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            </div>

          {% when 'image' %}
            <div
              class="lightly-spaced-row lightish-spaced-row-above inline-width-container"
              style="width: {{ block.settings.image_width }}px"
              {{ block.shopify_attributes }}
            >
              {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
              {% if block.settings.image != blank %}
                {%- liquid
                  assign image_sizes = block.settings.image_width | append: 'px'
                  assign image_widths = block.settings.image_width | times: 2 | prepend: ', ' | prepend: block.settings.image_width
                  render 'image' with block.settings.image, sizes: image_sizes, widths: image_widths
                -%}
              {% else %}
                <div class="placeholder-image">
                  {{- 'image' | placeholder_svg_tag: 'placeholder-svg' -}}
                </div>
              {% endif %}
              {% if block.settings.url != blank %}</a>{% endif %}
            </div>

          {% when 'icon' %}
            <div class="lightly-spaced-row" {{ block.shopify_attributes }}>
              <span class="large-light-icon">
                {% render 'icon', icon: block.settings.icon, size: 'medium' %}
              </span>
            </div>

          {%- when 'countdown' -%}
            <script src="{{ 'countdown-timer.js' | asset_url }}" defer></script>
            {% style %}
              .block-id-{{ block.id }} .countdown {
                --countdown-desktop-size: {{ block.settings.number_size }}px;
              }
            {% endstyle %}

            <div
              class="block-id-{{ block.id }} lightly-spaced-row lightish-spaced-row-above countdown-font-{{ block.settings.number_font }} countdown-divider-{{ block.settings.divider_type }}"
              {{ block.shopify_attributes }}
            >
              {% render 'countdown-timer',
                end_date: block.settings.end_date,
                end_time: block.settings.end_time,
                end_text: block.settings.end_text,
                end_midnight: true,
                hide_on_end: block.settings.hide_on_end,
                show_labels: block.settings.show_timer_labels
              %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Rich text",
  "class": "section-rich-text",
  "disabled_on": {
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "select",
      "id": "height",
      "label": "Section height",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Wide display",
      "default": false
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#F7F8F9"
    },
    {
      "type": "range",
      "id": "padding_vertical_top",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Custom Padding top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_vertical_bottom",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Custom Padding bottom",
      "default": 40
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Font Size",
      "default": 12
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Font Size Mobile",
      "default": 12
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Rich text"
        },
        {
          "type": "checkbox",
          "id": "use_h1",
          "label": "Set as primary page heading",
          "info": "Use <h1> tag. One per page recommended. [Read more](https://cleancanvas.co.uk/support/symmetry/section-h1-setting)",
          "default": false
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subheading",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text to share information about your store with your customers. Describe products, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "checkbox",
          "id": "enlarge_text",
          "label": "Enlarge text",
          "default": true
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "paragraph",
          "content": "Consecutive buttons will show on the same row"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "default": "primary",
          "options": [
            {
              "label": "Primary",
              "value": "primary"
            },
            {
              "label": "Secondary",
              "value": "secondary"
            },
            {
              "label": "Link",
              "value": "link"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "button_icon",
          "label": "Button Icon",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "font_bold",
          "label": "Font Bold",
          "default": false
        }
      ]
    },
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "default": "star",
          "options": [
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "check_mark_in_circle",
              "label": "Check mark in circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 60,
          "max": 700,
          "step": 10,
          "unit": "px",
          "label": "Image width",
          "default": 260
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "Countdown timer",
      "settings": [
        {
          "type": "text",
          "id": "end_date",
          "label": "End date",
          "info": "Required. Format: YYYY-MM-DD."
        },
        {
          "type": "text",
          "id": "end_time",
          "label": "End time (optional)",
          "info": "Format: 17:00 (24 hour clock). Uses the store's timezone."
        },
        {
          "type": "richtext",
          "id": "end_text",
          "label": "End text",
          "info": "This shows when the date and time elapses."
        },
        {
          "type": "checkbox",
          "id": "hide_on_end",
          "label": "Hide the timer when the date and time elapses",
          "default": false
        },
        {
          "type": "range",
          "id": "number_size",
          "min": 20,
          "max": 120,
          "step": 2,
          "unit": "px",
          "label": "Number size",
          "default": 40
        },
        {
          "type": "select",
          "id": "number_font",
          "label": "Number font",
          "options": [
            {
              "label": "Text font",
              "value": "base"
            },
            {
              "label": "Heading font",
              "value": "heading"
            }
          ],
          "default": "base"
        },
        {
          "type": "select",
          "id": "divider_type",
          "label": "Divider type",
          "default": "colon",
          "options": [
            {
              "value": "colon",
              "label": "Colon"
            },
            {
              "value": "dot",
              "label": "Dot"
            },
            {
              "value": "line",
              "label": "Line"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_timer_labels",
          "label": "Show labels",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "settings": {},
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
