{% style %}
  .advantage-container {
    display: flex;
    justify-content: space-between;
  }

  .advantage-items {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .advatage-items:last-child {
    margin-left: 10px;
  }

  .advantage-item {
    margin: 48px auto;
  }

  .section-advantage {
    padding: 96px 64px;
    background-color: #3c4b3b;
  }

  .advantage-title {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
  }

  .advantage-item--number {
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #fff;
  }

  .advantage-item--text {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 16px;
  }

  .featured-num {
    font-size: 64px;
    line-height: 64px;
    font-weight: 800;
    color: #ffe802;
  }

  .advantage-item--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .light-yellow {
    font-size: 64px;
    color: #ffe802;
    font-weight: 800;
    font-family: 'Inter';
    margin-left: 1rem;
  }

  .advantage-item--star__text {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-top: 5px;
  }

  .advantage-item--stars {
    text-align: center;
  }

  .star-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none;
  }

  @media screen and (max-width: 768px) {
    .advantage-item--number,
    .featured-num,
    .light-yellow {
      font-size: 24px;
      margin-left: 0.2rem;
    }

    .advantage-item--text {
      font-size: 14px;
    }

    .advantage-item {
      margin: 20px auto;
    }

    .advantage-item--text {
      margin-top: 0;
    }
  }
{% endstyle %}
<div class="section-advantage {% if section.settings.is_full_width != true %}container{% endif %}">
  <div class="advantage-title">
    {{ section.settings.left_title }}
  </div>
  <div class="container advantage-container">
    <div class="advantage-items">
      <div class="advantage-item">
        {% if section.settings.item_num_1 > 100 %}
          <div class="advantage-item--wrapper">
            <span
              class="advantage-item--number"
              style="text-align: {{ section.settings.content_alignment }}"
            >
              100
            </span>
            <span class="light-yellow">+</span>
          </div>
        {% else %}
          <div
            class="advantage-item--number"
            style="text-align: {{ section.settings.content_alignment }}"
          >
            {{ section.settings.item_num_1 }}
          </div>
        {% endif %}
        <div class="advantage-item--text" style="text-align: {{ section.settings.content_alignment }}">
          {{ section.settings.item_txt_1 }}
        </div>
      </div>
      <div class="advantage-item">
        {% if section.settings.item_num_3 > 5000 %}
          <div class="advantage-item--wrapper">
            <span
              class="advantage-item--number"
              style="text-align: {{ section.settings.content_alignment }}"
            >
              5000
            </span>
            <span class="light-yellow">+</span>
          </div>
        {% else %}
          <div
            class="advantage-item--number"
            style="text-align: {{ section.settings.content_alignment }}"
          >
            {{ section.settings.item_num_3 }}
          </div>
        {% endif %}
        <div class="advantage-item--text" style="text-align: {{ section.settings.content_alignment }}">
          {{ section.settings.item_txt_3 }}
        </div>
      </div>
    </div>
    <div class="advantage-items">
      <div class="advantage-item">
        {% if section.settings.item_num_2 > 10000 %}
          <div class="advantage-item--wrapper">
            <span
              class="advantage-item--number"
              style="text-align: {{ section.settings.content_alignment }}"
            >
              10000
            </span>
            <span class="light-yellow">+</span>
          </div>
        {% else %}
          <div
            class="advantage-item--number"
            style="text-align: {{ section.settings.content_alignment }}"
          >
            {{ section.settings.item_num_2 }}
          </div>
        {% endif %}
        <div class="advantage-item--stars">
          <div class="advantage-item--star__text">{{ section.settings.star_number }}-STAR REVIEWS</div>
          {% for item in (1..section.settings.star_number) %}
            <span class="advantage-item--star"
              ><img
                src="https://cdn.shopify.com/s/files/1/0618/8226/9862/files/star.png?v=1719961434"
                width="13"
                height="13"
            ></span>
          {% endfor %}
        </div>
        <div class="advantage-item--text star-text" style="text-align: {{ section.settings.content_alignment }}">
          {{ section.settings.item_txt_2 }}
        </div>
      </div>
      <div class="advantage-item">
        <div
          class="advantage-item--number"
          style="text-align: {{ section.settings.content_alignment }}"
        >
          <span class="featured-num">{{ section.settings.item_num_4 }}</span>-Year
        </div>
        <div class="advantage-item--text" style="text-align: {{ section.settings.content_alignment }}">
          {{ section.settings.item_txt_4 }}
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/countup.js/1.8.5/countUp.min.js"></script>
<script>
  var options = {
    useEasing: true,
    useGrouping: true,
    separator: ',',
    decimal: '.',
  };

  document.querySelectorAll('.advantage-item--number').forEach((item) => {
    new CountUp(item, 0, item.innerHTML, 0, 5, options).start();
  });
</script>

{% schema %}
{
  "name": "Advantage",
  "class": "section section-kik--advantage",
  "settings": [
    {
      "type": "text",
      "id": "left_title",
      "label": "Title",
      "default": "OVERLANDING EXPERT"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#3C4B3B"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "text",
      "id": "item_txt_1",
      "label": "Item Text 1",
      "default": "Export Market"
    },
    {
      "type": "number",
      "id": "item_num_1",
      "label": "Item Number 1",
      "default": 10
    },
    {
      "type": "text",
      "id": "item_txt_2",
      "label": "Item Text 2",
      "default": "BeneHike Enthusiasts"
    },
    {
      "type": "number",
      "id": "item_num_2",
      "label": "Item Number 2",
      "default": 5000
    },
    {
      "type": "text",
      "id": "item_txt_3",
      "label": "Item Text 3",
      "default": "BeneHike Enthusiasts"
    },
    {
      "type": "number",
      "id": "star_number",
      "label": "Star Number",
      "default": 5
    },
    {
      "type": "number",
      "id": "item_num_3",
      "label": "Item Number 3",
      "default": 10000
    },
    {
      "type": "text",
      "id": "item_txt_4",
      "label": "Item Text 4",
      "default": "Longest Warranty"
    },
    {
      "type": "number",
      "id": "item_num_4",
      "label": "Item Number 4",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "is_full_width",
      "label": "Full Width",
      "default": false
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "Advantage",
      "settings": {}
    }
  ]
}
{% endschema %}
